/* ExtJS 6.0 specific styles */

#main-tabs-body {
    background-image: url('../../../theme/logotypes/header-logotype.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 300px auto;
}

#main-tabs > .x-tab-bar {
    background: #222222;
}

#main-tabs > .x-tab-bar > .x-tab-bar-body {
    padding-top: 0;
}

#main-tabs > .x-tab-bar > .x-tab-bar-body .x-tab-active {
    background: #ececec;
}

#main-tabs > .x-tab-bar .x-tab-default-top {
    background-color: #3c3f41;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#main-tabs > .x-tab-bar .x-tab-over .x-tab-default-top {
    background-color: #2b2d2e;
}

#main-tabs > .x-tab-bar .x-tab-inner-default {
    color: #fff;
}

#main-tabs > .x-tab-bar .x-tab-active .x-tab-inner-default {
    color: #606060;
}

#main-tabs > .x-panel-body > .x-tabpanel-child {
    border-color: #ececec;
    border-top-width: 5px;
}

.x-panel-header-default-horizontal.x-header-noborder {
    padding: 7px 12px 7px 12px;
}
.side-panel > .x-panel-header-default-horizontal.x-header-noborder {
    background-color: #d0d0d0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-body > .x-border-item {
    border:0;
}

.main-toolbar.x-toolbar-default {
    background: #ececec;
    border-bottom: 1px solid #e4e4e4 !important;
}
